<a href="https://colab.research.google.com/github/Roy025/ADDA-2.0/blob/main/Lab0_2018831055_ipynb_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Synyax**

In [ ]:
#This is a comment.
print("Hello World!")

Hello World!

**Casting**

In [ ]:
x = str(5)
y = int(5)
z = float(5)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

**Variable Name**

In [ ]:
myvar = "Prapti"
my_var = "Prapti"
_my_var = "Prapti"
myVar = "Prapti"
MYVAR = "Prapti"
myvar2 = "Prapti"

**Numbers**

In [ ]:
x = 678
y = 5.78987654
z = 4j

print(type(x))
print(type(y))
print(type(z))



a = complex(x)
b = int(y)
print(str(type(a))+ "  -  " + str(a))
print(str(type(b))+ "  -  " + str(b))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>   (678+0j)
<class 'int'>   5

**Strings**

In [ ]:
#Access Character
a = "This is a String."
print(a)
print(a[9])
print("Length - " + str(len(a)))

if "is" in a:
  print("'is' is present.")

#Slice
print(a[6:])
print()


#Update "This" with "It's"
print("Update \"This\" with \"It's\" - ")
print(a.replace("This", "It's"))
print()


#Concate
x = "My name is Prapti,"
y = "and I am"
age = 23
t = x + " " + y + " " + f"{age}"
print("Concate  - ")
print(t)
print()

#Insert
index = t.find(',')
out = t[:index] + ' Roy' + t[index:]
print("Insert \"Roy\" before the comma - ")
print(out)
print()

#Removing
new_t = t.replace(f", and I am {age}", "")
print("Remove age part - ")
print(new_t)
print()

This is a String.

Length - 17
'is' is present.
s a String.

Update "This" with "It's" -
It's is a String.

Concate  -
My name is Prapti, and I am 23

Insert "Roy" before the comma -
My name is Prapti Roy, and I am 23

Remove age part -
My name is Prapti

**List**

In [ ]:

list1 = [1, 2,10, 11, 'yfgswyh', 3, 4, 5]

print(type(list1[1]))
print(type(list1[4]))
print(list1)

print("Length - " + str(len(list1)))

#Access
print("Access from 2 to 4 - ")
print(list1[2:5])
print()

#Insert
list1.insert(2, "Apple")
list1.append(True)
print("Insert \"Apple\" at index 2 and append True - ")
print(list1)
print()


#Update
list1[5] = "Kiwi"
print("Update 5th index with \"Kiwi\" - ")
print(list1)
print()

#Remove
list1.remove(11)
list1.pop(5)
print("Remove 11 and Pop at index 5 - ")
print(list1)
print()


#Sorting
list2 = [100, 300,900,1000, 200,200, 500, 800,]
print(list2)
list2.sort()
print("After sorting - ")
print(list2)
print()

#Copy
list3 = list2.copy()
print("After coping list2 - ")
print(list3)
print()

<class 'int'>
<class 'str'>
[1, 2, 10, 11, 'yfgswyh', 3, 4, 5]
Length - 8
Access from 2 to 4 -
[10, 11, 'yfgswyh']

Insert "Apple" at index 2 and append True -
[1, 2, 'Apple', 10, 11, 'yfgswyh', 3, 4, 5, True]

Update 5th index with "Kiwi" -
[1, 2, 'Apple', 10, 11, 'Kiwi', 3, 4, 5, True]

Remove 11 and Pop at index 5 -
[1, 2, 'Apple', 10, 'Kiwi', 4, 5, True]

[100, 300, 900, 1000, 200, 200, 500, 800]
After sorting -
[100, 200, 200, 300, 500, 800, 900, 1000]

After coping list2 -
[100, 200, 200, 300, 500, 800, 900, 1000]

**Tuples**

In [ ]:


tuple1= (1,2,3,"hello", True, 5,6,7)
print(tuple1)

print("Length - " + str(len(tuple1)))
print()

#Access
print("Access all before 4th index -  ")
print(tuple1[:4])
print()

#Insert
x = list(tuple1)
x.append("World")
tuple1 = tuple(x)
print("Insert \"World\" - ")
print(tuple1)
print()

#Update
y = list(tuple1)
y[1] = "kiwi"
tuple1 = tuple(y)
print("Update index 1 with \"Kiwi\" - ")
print(tuple1)
print()

#Remove
z = list(tuple1)
z.remove(5)
tuple1 = tuple(z)
print("Remove 5 from list - ")
print(tuple1)
print()


#Join
tuple2 = ("red", "blue", "White")
tuple3 = tuple1 + tuple2
print("Join 2 tuple - ")
print(tuple3)

(1, 2, 3, 'hello', True, 5, 6, 7)
Length - 8

Access all before 4th index -
(1, 2, 3, 'hello')

Insert "World" -
(1, 2, 3, 'hello', True, 5, 6, 7, 'World')

Update index 1 with "Kiwi" -
(1, 'kiwi', 3, 'hello', True, 5, 6, 7, 'World')

Remove 5 from list -
(1, 'kiwi', 3, 'hello', True, 6, 7, 'World')

Join 2 tuple -
(1, 'kiwi', 3, 'hello', True, 6, 7, 'World', 'red', 'blue', 'White')

**Array**

In [ ]:
from array import *

arr = array('i',[])

n = int(input("Enter the length of the array - "))

for i in range(n):
    x = int(input("Enter the next value - "))
    arr.append(x)

print("Length - " + str(len(arr)))
print(arr)

val = int(input("Enter the value for search - "))

k = 0
for e in arr:
    if e==val:
        print(k)
        break

    k+=1

print(arr.index(val))

**Set**

In [ ]:
set1= {1,2,3,"hello", True, 5,6,7}
print(set1)

print("Length - " + str(len(set1)))
print()

#Access
print("Access -  ")
for i in set1:
  print(i)
print()

#Insert
set1.add("Apple")
print("Insert \"Apple\" at end - ")
print(set1)
print()


print("Adding Set 2 - ")
set2 = {200,600,300}
set1.update(set2)
print(set1)
print()

#Update
x = list(set1)
x[9] = "world"
set1 = set(x)
print("Update 9th index with 'world' - ")
print(set1)
print()

#Remove
print("Remove 'hello' - ")
set1.discard("hello")
print(set1)
print()

{1, 2, 3, 5, 'hello', 6, 7}
Length - 7

Access -
1
2
3
5
hello
6
7

Insert "Apple" at end -
{1, 2, 3, 5, 'hello', 6, 7, 'Apple'}

Adding Set 2 -
{1, 2, 3, 5, 'hello', 6, 7, 200, 300, 'Apple', 600}

Update 9th index with 'world' -
{1, 2, 3, 'hello', 5, 6, 7, 200, 300, 'world', 600}

Remove 'hello' -
{1, 2, 3, 5, 6, 7, 200, 300, 'world', 600}

**Dictionary**

In [ ]:
dict1 =	{
  "name": "Prapti",
  "roll": "1055",
  "year": 1999
}
print(type(dict1)) 

print("Length - " + str(len(dict1)))
print()

#Access
print("Access roll - ")
print(dict1["roll"])
print(dict1.get("roll"))
print()

print(dict1.keys())
print()

print(dict1.values())
print()

print(dict1.items())
print()

#Insert
dict1["age"] = 23
print("Insert Age - ")
print(dict1)
print()


#Update
dict1["roll"] = 2018831055
print("Update Roll - ")
print(dict1)
print()

#Remove
dict1.pop("year")
print("Remove Year - ")
print(dict1)
print()


#Copy
dict2 = dict1.copy()
print("Copy 1st dictionary - ")
print(dict2)

<class 'dict'>
Length - 3

Access roll -
1055
1055

dict_keys(['name', 'roll', 'year'])

dict_values(['Prapti', '1055', 1999])

dict_items([('name', 'Prapti'), ('roll', '1055'), ('year', 1999)])

Insert Age -
{'name': 'Prapti', 'roll': '1055', 'year': 1999, 'age': 23}

Update Roll -
{'name': 'Prapti', 'roll': 2018831055, 'year': 1999, 'age': 23}

Remove Year -
{'name': 'Prapti', 'roll': 2018831055, 'age': 23}

Copy 1st dictionary -
{'name': 'Prapti', 'roll': 2018831055, 'age': 23}

**Conditions**

In [ ]:
a = int(input("A = "))
b = int(input("B = "))
c = int(input("C = "))


if a > b or a > c:
  print("At least one of the conditions is True")
if a > b and a > c:
  print("a is greater than b , c")
elif b > a and b > c:
  print("b is greater than a , c")
elif a == b:
  print("a and b are equal")
elif c > a:
  print("C is greater.")
else:
  pass